html {

    overflow-y: scroll;
}

/*
Setup a basic body
*/
body {
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
}

/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header {
    background-color: #006064;
    padding: 15px;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
    background-color: #FFFFFF;
    padding: 52px 10px 10px 10px;
    position: relative;
    width: auto;
    height: 100%;
    -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
#time {
	text-align: center;
}
/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #006064;
}

/*
The white stripes in the hamburger button
*/
#hamburger div {
    background-color: #fff;
    border: 1px solid #fff;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

#pagetitle {
    position: absolute;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    left: -25px;
    right: 0;
    top: -10px;
}
/*
The navigation container in the background
*/
nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 25vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #EEEEEE;
}

/*
Style the navigation menu
*/
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    padding: 15px;
}

nav li a {
    color: #212121;
    text-decoration: none;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 25vh;
    z-index: 5;
}