:root {
    --background-color: #C0C0C0;
    --menu-bar: #000080;
    --text-background: #FFFF00;
    --text-color: #000;
    --secondary-background-color: #008080;
    --secondary-gray: #80808080;
}

html, body {
    overflow: hidden;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: var(--secondary-background-color);
}

p {
    position: relative;
    padding-left: .2em;
    margin: 0;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

img, label {
    user-select: none;
}

label {
    font-size: 1em;
}

a {
    text-decoration: inherit;
}

hr {
    width: 9em;
    margin: 0 auto 1em auto;
}

.button-x p {
    /* This is a a whole mess, figure out how to do this better */
    font-family: monospace;
    padding-left: 0em;
    font-size: 1.5em;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: 1.75em 3fr 1fr;
    grid-template-rows: 1.5em 4em 1fr 4em;
    background-color: var(--background-color);
    width: 50em;
    height: 30em;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#menubar {
    display: flex;
    justify-content: space-between;
    background-color: var(--menu-bar);
    grid-column: 1/5;
    grid-row: 1/1;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    user-select: none;
}

.welcome-to {
    grid-column: 2/2;
    grid-row: 2/2;
}

.did-know {
    position: relative;
    grid-column: 2/2;
    grid-row: 3/3;
    background-color: white;
}

#lightbulb {
    width: 2.5em;
    filter: drop-shadow(0 5px 0 var(--secondary-gray));
    margin: 1em 1.5em;
}

#welcome {
    margin-top: 1em;
    width: 30em;
}

#dotted {
    /* Another absolute mess, to do: figure out how CSS works */
    /* position: absolute; */
    border-style: dotted;
    border-width: 1px;
    width: 8.65em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    transform: translateY(-3%);
}

#text-header {
    position: absolute;
    transform: translateY(-3.5em) translateX(5.5em);
    font-weight: bold;
}

#main-text {
    position: absolute;
    transform: translateY(-.5em) translateX(5em);
    width: 26em;
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.5em;
}

.checkbox-prompt {
    align-self: center;
    grid-column: 2/2;
    grid-row: 4/4;
}

.close-section {
    grid-column: 3/3;
    grid-row: 4/4;
}

.buttons {
    grid-column: 3/3;
    grid-row: 3/3;
}

.button {
    user-select: none;
    color: black;
    display: inherit;
    width: 9em;
    height: 1.5em;
    text-align: center;
    background-color: var(--background-color);
    margin: auto;
    margin-bottom: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-x {
    width: .9em;
    height: .9em;
    margin: .15em .2em 0 0;
}

.outset {
    border-width: 2px;
    border-style: outset;
    border-color: white var(--secondary-gray) var(--secondary-gray) white;
    box-shadow: 1px 1px 0px 1px black;
}

.outset-selected {
    /* border-color: white var(--secondary-gray) var(--secondary-gray) white; */
    box-shadow: 1px 1px 0px 1px black, 0px -1px 0px 1px black, -1px 0px 0px 1px black;
}

.inset {
    border-width: 2px;
    border-style: inset;
    border-color: var(--secondary-gray) white white var(--secondary-gray);
    box-shadow: none;
}

.button:active {
    cursor: pointer;
}