
.circle {
    border-radius: 25%;
}


html {
overflow-y: scroll;
/*keep scrollbar from pushing content left*/
}

body {
background : #4d4d4d;
/*background : radial-gradient(ellipse at center, #00000 0%, #6f6f6f 100%);*/

}
.keepcentered {
text-align: center
font-weight : 100;
margin-top: 1vh;
}
body {

font-family: 'Roboto', sans-serif;

font-style : normal;
color : #2EB8B8; /* Change this to change the color of the colored font on the page. 12ccc2 d64937*/
margin : 5px;

}
#day {
font-size: 6vh;

text-align: center;

}
.period {
font-size: 5vh;

text-align: center;
font-weight: bold;
font-weight: lighter;
color : #ffffff;
}
.starttime, #timeremaining {
font-size: 3vh;
text-align: center;
}
#timeremaining {
color: #FFC107;
}
#time {
font-size: 6vh;
}
div {
text-align:center
}
td, tr {

}
a:hover{
color: #333333;
transition: color 0.2s;
text-shadow: 2px 2px 2px #fff;
}

a:link {
text-decoration : none;
text-shadow: 0px 0px 0px #000;
}
hr {
width: 80vw;

}


/*Scrollbar CSS*/
::-webkit-scrollbar
{
width: 8px;  /* for vertical scrollbars */
}

::-webkit-scrollbar-track
{
background: #4d4d4d;
}

::-webkit-scrollbar-thumb
{
background: rgba(0, 0, 0, 0.5);
}


