:root {
    --background-color: #2a2939;
    /* --main-blue: #03fefc; */
    /* --main-pink: #fd547f; */
    --main-blue: #add8e660;
    --main-pink: #f0808060;
    --main-yellow: #ffeb3b;
    --link-color: lightcoral;
    --link-color-opacity: #17BEBB80;
    --text-color: #000;
    --secondary-background-color: #201f2b;
}

html {
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--background-color);
    /* background: linear-gradient(0deg, rgba(31, 0, 16, 1) 0%, rgba(11, 0, 50, 1) 50%); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color)
}


@keyframes pulse {
    from {
        opacity: 1;
        box-shadow: 0 0 1em 0em var(--main-pink);
    }
    to {
        opacity: 0;
        box-shadow: 0 0 100px 50px var(--main-blue);
    }
}

#glow {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    transition: opacity .5s ease-in-out;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}


.layer {
    width: 18em;
    height: 9em;
    /* background-color: var(--main-pink); */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1em;
}

#top {
    background-color:#ffeb3b30;
    color:white;
    z-index: 100;
}

#mid {
    background-color: var(--main-pink);
    margin: .75em 0 0 -.75em;
    z-index: 1;
}

#low {
    margin: -.75em 0 0 .75em;
    background-color: var(--main-blue);
    z-index: 0;
}

h1 {
    text-shadow: -1px 1px 2px #000 ;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-background-color);
    opacity: 95%;
}


.footer a {
    color: var(--link-color);
    text-decoration: none;
    position: relative;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:after {
    background-color: #00000000;
}

#p-footer {
    padding-left: 1em;
    padding-right: 1em;
    max-width: none;
    margin: 1em;
    color: #fff;
}