#login {
  width: 35vh;
  min-width: 10em;
  margin: 4em auto;
  padding: 1em 2em 2em 2em;
  background: #fafafa;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
}
#login h1 {
  text-align: center;
}
#toggle:hover {
  cursor: pointer;
}
input {
  display: block;
  margin :  0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:5px;
  width: 30vh;
  border: 0px;
  height:30px;
  border: 0px;
  border-bottom: 3px solid #888888;
  background-color: #E0E0E0;
  transition: background-color 500ms ease;
  min-width: 10em;
  max-width: 80%
  transition: all 500ms ease;
  /*min-width: 75%;*/
}

input:focus {
  background-color: #fff;
  transition: background-color 500ms ease;
}
#enter {
  color: #fff;
  width: 30vh;
  height: 40px;
  background-color: #4184f3;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5em;
  transition: all 500ms ease;
  min-width: 8em;
  max-width: 80%
}
#enter p {
  padding-top: 6px;
}

#enter:hover {
  cursor: pointer;
  /*background-color: #90CAF9;*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 50ms ease;
}
